
name: Package Application with Pyinstaller

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Package Application
      uses: JackMcKew/pyinstaller-action-windows@main
      with:
        path: OpenBatteryInformation

    - uses: actions/upload-artifact@v2
      with:
        name: OBI.exe
        path: OpenBatteryInformation/dist/windows
